body {
  direction: rtl;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
}

/* ------------------- header -------------------- */
.links {
  display: flex;
  justify-content: space-between;
  color: #646465;
  flex-direction: row-reverse;
  border: 1px #ccc solid;
  margin: 0;
}
.links li {
  border-right: 1px solid #ccc;
  padding: 10px;
  height: 100%;
}
.links a {
  padding-right: 10px;
}

/* -------------------- footer ------------------- */
footer {
  color: #a3a3a3;
}
footer ul {
  width: 17%;
}
footer .upper-part {
  background-color: #333;
  padding: 0 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
footer li {
  padding-top: 8px;
}
footer a {
  color: #a3a3a3;
}
footer h2 {
  margin: 0;
  border-bottom: 1px solid #424242;
}
footer .posts {
  margin-block: 1rem;
  width: 22%;
}
footer .posts form {
  margin-top: 10px;
  background-color: #484848;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer input[type="search"] {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer input[type="submit"] {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .call-us {
  color: white;
}
footer .lower-part {
  direction: ltr;
  padding-top: 15px;
  padding-left: 35px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .lower-part .pay-methods {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 120px;
}
footer .lower-part .img {
  width: 55px;
}
footer .lower-part img {
  max-width: 100%;
}
